@tailwind base;
@tailwind components;
@tailwind utilities;

.srsBtnBig{
padding: 16px 32px;
background: rgb(245, 112, 5);
color: #fff;
font-size: 18px;
font-family: "Inter", sans-serif;
border-radius: 6px;
}
.srsBtnMid{
  padding: 12px 24px;
  background: rgb(245, 112, 5);
  color: #fff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  border-radius: 6px;
  }